.todo-row {
  background-color: white;
  margin: 5px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid lightgray;
}

.completed {
  text-decoration: line-through;
  color: grey;
}

.btn-remove-todo {
  background-color: #e05959 !important;
  border-color: #e05959 !important;
  color: white !important;
  margin-left: -20px !important;
  padding: 10px !important;
}
